body
{
background-color:#d0e4fe;
}
h1
{
color:orange;
text-align:center;
}
p
{
font-family:"Times New Roman";
font-size:20px;
text-align:center;
}

.inField
{
	margin-left:20px;
	margin-top:15px;
 	border: 1px solid #006;
	width:140px;
	float:left;

}

.button
{
	margin-top:15px;
	margin-left:20px;
	margin-right:auto;
	clear:both;
	float:left;

}

.boldText
{
	font-size:30px;
}

#container
{
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
	width:600px;
	height:500px;
}

#register
{
	margin-top:10px;
	float:right;
	width:250px;
	height:350px;
	background-color:#E6E6E6;
}

#signIn
{
	float:right;
	width:250px;
	height:140px;
	background-color:#E6E6E6;
}

#mid
{
	float:left;
	width:340px;
	height:500px;
	background-color:#F9FEFF;
	text-align:center;
}
