body
{
	background-color:#d0e4fe;
}
h1
{
	color:orange;
	text-align:center;
	clear:both;
}
p
{
	font-family:"Times New Roman";
	font-size:15px;
	text-align:center;
	margin-top:10px;
	margin-bottom:5px;
}



label
{
	font-family:"Times New Roman";
	font-size:15px;
	margin-top:5px;
	margin-left:5px;
	float: left;
}




.accountInField
{
	background: #f5f5f5;
	font-size: 0.8rem;

	border-radius: 3px;
	border: none; 
	padding: 2px 10px; 
	box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.2 );
	clear: both;
	
	margin-right:250px;
	margin-top:5px;
 	
	width:110px;
	float:right;
}

.inField
{
	background: #f5f5f5;
	font-size: 0.8rem;

	border-radius: 3px;
	border: none; 
	padding: 2px 10px; 
	box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.2 );
	clear: both;
	
	margin-right:5px;
	margin-top:5px;
 	
	width:110px;
	float:right;

}

.inField:focus { 
    background: #FFFFFF; 
    outline: none;    
} 

#signInButton
{
	margin-top:5px;
}

#registerButton
{
	margin-top:5px;
}

#signOutButton
{
	margin-top:110px;
}

#changeButton
{
	width:120px;
	margin-top:5px;
	float:left;
	margin-left:230px;
}


.errorLabel
{
	margin-top:5px;
	margin-right:5px;
	float: right;
	clear:both;
}

#changeErrorLabel
{
margin-right:250px;
}


.button
{
	margin-right:5px;
	width:80px; 
	clear:both;
	float:right;
}


.boldText
{
	font-size:30px;
}

a.tab
{
	text-decoration:none;
	float:left;
	margin-right:5px;
	border:1px solid #000;
	padding:5px;
	text-align:center;
	display:block;
	background:#E6E6E6;
}

a.tab:hover
{
	background:#0F0;
	color:#000;
}

a.tab#selectedTab
{
	background:#FFF;
	color:#000;
	border-bottom:1px solid #FFF;
}

#container 
{
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
	width:600px;
	height:400px;
}

#register
{
	margin-top:10px;
	float:right;
	width:250px;
	height:280px;
	background-color:#E6E6E6;
}

#signIn
{
	float:right;
	width:250px;
	height:110px;
	background-color:#E6E6E6;
}

#mid
{
	float:left;
	width:340px;
	height:400px;
	background-color:#F9FEFF;
	text-align:center;
}

#home
{
	margin-left:auto;
	margin-right:auto;
	width:600px;
	height:350px;
	background-color:#FFF;
	text-align:center;
	float:left;
	display:block;
}

#browse
{
	margin-left:auto;
	margin-right:auto;
	width:600px;
	height:350px;
	background-color:#FFF;
	text-align:center;
	float:left;
	display:none;
}

#account
{
	margin-left:auto;
	margin-right:auto;
	width:600px;
	height:350px;
	background-color:#FFF;
	text-align:center;
	float:left;
	display:none;
}


#navbar 
{
	width:600px;
	margin-right:auto;
	margin-left:auto;
	float:left;
	background-color:transparent;
}

/*#navbar #holder ul li a
{
	text-decoration:none;
	float:left;
	margin-right:5px;
	border:1px solid #000;
	margin-bottom:noen;
	padding:5px;
	text-align:center;
	display:block;
	background:#E6E6E6;
}

#navbar #holder ul 
{
	list-style:none;
	margin:0;
	padding:0;
}


#navbar #holder ul li a:hover 
{
	background:#FFFF;
	color:#FFFFFF;
	text-shadow:1px 1px 1px #000;
}


#navbar #holder
{
	height:31px;
	border-bottom:1px solid #000;
	width:600px;
}

#holder ul li a#onlink
{
	background:#FFF;
	color:#000;
	border-bottom:1px solid #FFF;
	
}*/


