body
{
background-color:#d0e4fe;
}
h1
{
color:orange;
text-align:center;
}
p
{
font-family:"Times New Roman";
font-size:15px;
text-align:center;
margin-top:10px;
margin-bottom:5px;
}




.inField
{
	background: #f5f5f5;
	font-size: 0.8rem;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px; 
	border-radius: 3px;
	border: none; 
	padding: 2px 10px; 
	box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.2 );
	clear: both;
	
	margin-left:20px;
	margin-top:5px;
 	
	width:150px;
	float:left;

}
.inField:focus { 
    background: #FFFFFF; 
    
    outline: none;    
} 

.button
{
	
	margin-top:5px;
	margin-left:20px;
	width:80px; 
	clear:both;
	float:left;

}

.boldText
{
	font-size:30px;
}

#container
{
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
	width:600px;
	height:400px;
}

#register
{
	margin-top:10px;
	float:right;
	width:250px;
	height:280px;
	background-color:#E6E6E6;
}

#signIn
{
	float:right;
	width:250px;
	height:110px;
	background-color:#E6E6E6;
}

#mid
{
	float:left;
	width:340px;
	height:400px;
	background-color:#F9FEFF;
	text-align:center;
}
